Question 1
1 Mark

Which of the following will be the output of the below snippet?

In [2]:
import numpy as np
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,32,93,39]))
demo_matrix[2,3]

39

Question 2
1 Mark

Which of the following will be the output of the below snippet?

In [3]:
import numpy as np
np.arange(0,22,6)

array([ 0,  6, 12, 18])

Question 3
1 Mark

Which of the following will be the output of the below snippet?

In [4]:
import numpy as np
demo_array = np.arange(10,17)
demo_array [:]= 101
demo_array

array([101, 101, 101, 101, 101, 101, 101])

Question 4

1 Mark

Which of the following will be the output of the below snippet?

In [5]:
import pandas as pd
score = [10, 15, 20, 25]
pd.Series(data=score, index = ['a','b','c','d'])

a    10
b    15
c    20
d    25
dtype: int64

Question 5
1 Mark
What is the right way to create a list in Python?

In [6]:
football = [24, 235, 34, 456, 65, 67]

Question 6
2 Marks

Which of the following is true for the following code?

In [7]:
dataframe.drop(‘marks’, axis = 1)

# where, 'marks' is an attribute of the dataframe.
# axis 1 is for searching columns

SyntaxError: invalid character in identifier (<ipython-input-7-56e3da2f9b15>, line 1)

Question 7
2 Marks
Which of the following can be used to see the frequency distribution of a categorical variable?

In [ ]:
sns.countplot()

01:13:20
Question 8
2 Marks

Bivariate distribution can be visualized using, 

    1. scatter plot
    2. pairplot
    3. distplot

(1 and 2)

Question 9
2 Marks

Which is the most appropriate snippet to create the below plot?

plot.png

In [ ]:
distplot(auto['disp'])

plt.show()

Question 10
2 Marks

Guess the code for the below output, where 'auto' is the dataframe and 'acc' and 'disp' are two of its attributes.
(image)

In [ ]:
sns.pairplot(auto[['acc','disp']])

Question 11
2 Marks

Which of the following is the most appropriate snippet to return the below output?


X-axis label: "wt"

Y-axis label: "cyl"

In [ ]:
sns.stripplot(auto['wt'],auto['cyl'])

Question 12
2 Marks

Which of the below options outputs the following plot? where 'auto' is the dataframe and 'cyl' and 'yr' are two of its attributes.

In [ ]:
sns.boxplot(auto['yr'],auto['cyl'])

Question 13
2 Marks
How to view the top 5 rows in a DataFrame named 'auto' ?

In [ ]:
auto.head()

Question 14
2 Marks

b = 3.1

The data type of b is 'int'.

False

Question 15
2 Marks
How do we import an excel file to Jupyter Notebook from external sources?

In [ ]:
pd.read_excel("filename")

In [15]:
import pandas as pd
data1={'Physics': [77, 75, 100, 10, 59], 'Chemistry': [85, 70, 99, 30, 80]}
df1=pd.DataFrame(data=data1)
data2={'Student_ID': [0, 1, 2, 3, 4], 'Maths': [80, 90, 88, 25, 90]}
df2=pd.DataFrame(data=data2)
df3=pd.concat([df1, df2], join='inner', axis=0, ignore_index=True)
df3

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcd'))
ser2 = pd.Series(np.arange(4))

df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
# Cannot combine series to form a data frame
df = pd.concat([ser1, ser2], axis=0)